@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    
    --cor-de-fundo: #8c00ff50;
    --verde: #e7ff0b6b; 
    --branco: #ffffff; 
    --botao-ativo: #ff6600; 
    --botao-inativo: #5b1c96; 
}
body {
    background-color: var(--cor-de-fundo); 
    color: var(--branco);
    font-family: 'Playfair Display';


}
.botao {
    font-family: 'Playfair Display';
    background-color: var(--botao-inativo);
    color: var(--branco);
    font-size: 18px;
    padding: 1em;

}
.titulo-principal{
    font-size: 32px;
}